@import url(reset.css);
/* ������ ����� � ���������*/



#content {
	/*height:800px;*/
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
	padding-top:15px;
    padding-bottom: 10px;
}


#content h2 {
    margin-left:40px;
    color:#55b5ff;
    font: bold 18px Myriad Pro;
	float:left;
}

#content a{
    text-decoration: none;
}

#news_blocks {
    width: 720px;
	overflow: hidden;
    background-color: #dddddd;
    border-radius:20px;
    margin:2px auto 10px auto;
}

#news_blocks:hover {
    background-color: #55b5ff;
    
}

#image{
    width: 225px;
    height: 225px;
    background-image: url(/view/images/1337469553594.png);
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    float:left;
}

#news_content
{
    width: 450px;
    height: 225px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#number {
	float:right;
	color:#000000;
	font: bold 14px Myriad Pro;

}

#title
{
   width:300px;
   height: 30px;
}

#title a{
   width:100px;
   color:#000000;
   font: bold 18px Myriad Pro;
}

#text {
    margin-top: 10px;
	height: 150px;
    word-spacing:3px;
    color:#616060;
    font:bold 12px Myriad Pro;
}

#pannel {
	margin-top:10px;
    height: 25px;
    background-color: #cccccc;
}

#user {
	height: 25px;
    background-image: url(/view/images/users.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    float:left;
	margin-right:3px;

}

#user a {
	text-decoration: none;
    font: bold 15px Myriad Pro;
    color: #0190ff;
    margin-left: 18px;
	margin-top:4px;
}

#date {
    height: 25px;
    background-image: url(/view/images/date.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    float:left;
	margin-right:3px;
}

#date p {
	font: 12px Myriad Pro;
    color:#000000;
    margin-left: 11px;
	margin-top:4px;
}

#views {
    height: 25px;
    background-image: url(/view/images/views.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    float:left;
    margin-top: 1px;
	margin-right:3px;
}

#views p {
	margin-top:2px;
	font: 12px Myriad Pro;
    color:#000000;
    margin-left: 21px;
	margin-top:4px;

}

#comments {
    height: 25px;
	outline: 0px solid red;
    background-image: url(/view/images/comments.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 50px;
    float:left;
	margin-right:3px;

}

#comments p {
	margin-top:2px;
	font: 12px Myriad Pro;
    color:#000000;
    margin-left: 15px;
	margin-top:4px;

}


#edit_news_pannel {
	width:45px;
	float:right;
	margin-top:5px;
}

#addnews {
	height: 15px;
	width:15px;
	float:right;
	margin-right: 670px;
}

#addnews a {
	display:block;
	background: url(/view/images/add_news.png) no-repeat;
	height: 15px;
	width:15px;
	cursor:pointer;

}

#editnews {
	height: 15px;
	width:15px;
	float:left;
	margin-left:5px;
}

#editnews a {
	display:block;
	background-image: url(/view/images/edit_news.png);
	height: 15px;
	width:15px;
	cursor:pointer;

}

#deletenews {
	height: 15px;
	width:15px;
	float:right;
	margin-right:5px;
}

#deletenews a {
	display:block;
	background-image: url(/view/images/delete_news.png);
	height: 15px;
	width:15px;
	cursor:pointer;

}