@import url(reset.css);

/* Начало блока с новостями*/

#news {
    width: 750px;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
    margin:0 auto;
    padding:15px;


    
}



#news h2 {
    margin-left:32px;
    color:#55b5ff;
    font: bold 18px Myriad Pro;
    
    
}

#news_page {
    width: 720px;
    height: 265px;
    background-color: #dddddd;
    position:relative;
    left:18px;
    top:10px;
    border-radius:20px;
    margin-top:10px;
}

#news_page:hover {
    background-color: #55b5ff;
    
}


#news_image {
    position: relative;
    width: 225px;
    height: 225px;
    top: 20px;
    left:20px;
    background-color: #ffffff;
    background-image: url(view/images/1337469553594.png);
    
}

#news_text {
    position: relative;
    width: 450px;
    height: 190px;
    left:260px;
    top:-210px;
    
    
}

#news_text a {
    color:#000000;
    font: bold 18px Myriad Pro;
}

#news_text p {
    word-spacing:3px;
    color:#616060;
    font:bold 12px Myriad Pro;
    padding-top: 10px; 
    
}

#news_nav {
    position: absolute;
    top:225px;
    left:250px;
    width: 400px;
    height: 25px;
    background-color: #9ea4a9;
    
}

#news_nav_user {
    outline: 0px solid red;
    margin-top:2px;
    margin-right: 2px;
    background-image: url(view/images/users.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
}

#news_nav_user a {
    text-decoration: none;
    font: bold 15px Myriad Pro;
    color: #0190ff;
    margin-left: 19px;
}


#news_nav_date {
    outline: 0px solid red;
    background-image: url(view/images/date.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
    margin-top:2px;
}


#news_nav_date p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 11px;
    margin-top:4px;
}

#news_nav_views {
    outline: 0px solid red;
    background-image: url(view/images/views.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 50px;
    height: 25px;
    float:left;
    margin-top: 2px;
    
}

#news_nav_views p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 21px;
    margin-top:4px;
}

#news_nav_comments {
    outline: 0px solid red;
    background-image: url(view/images/comments.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 50px;
    height: 25px;
    float:left;
}

#news_nav_comments p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 16px;
    margin-top:6px;
}

