@import url(reset.css);

#body {
    background-color: #000000;
    
}


/* Начало блоков бэкграунда*/
#morf {
    width: 246px;
    height: 346px;
    position:absolute;
    background-image: url(/view/images/morf.png);
    background-repeat: no-repeat;
    left:77px;
    z-index:5;
}

#razor {
    width: 673px;
    height: 530px;
    position:absolute;
    background-image: url(/view/images/razor.png);
    background-repeat: no-repeat;
    right:-25px;
    z-index:2;
}
/*Конец блоков бэкграунда*/

/* Начало блока Wrapper*/

#wrapper {
    position: absolute;
    width:800px;
    outline: 0px solid #000000;
    left: 18.5%;
    z-index:3;
}

/* Конец блока Wrapper*/


/* Начало блока header*/

#header {
    height: 24px;
    outline: 0px solid #000000;
    background-color: #000000;
    background-image: url(/view/images/headerBg.png);
    background-repeat: repeat-x;
}


#registration {
    position:relative;
    height: 24px;
    width:410px;
    top:0px;
    left: 135px;
    float: left;
    
}

#registration p {
    color: #ffffff;
    font: 15px Myriad Pro;
    
}

#username {
    float:left;
    
}

#password {
    float: left;
    
}

#username_field {
    margin-right:10px;
    margin-top:2px;
    height: 13px;
    border-radius:5px;
    font:12px Myriad Pro bold;
    
}

#password_field {
    margin-top:2px;
    height: 13px;
    border-radius:5px;
    font:12px Myriad Pro bold;
    
}

#sabmit_button {
    
    
}

#button {
    border-radius:7px;
    height: 17px;
    margin-top:4px;
    font: 12px Myriad Pro bold;
    cursor:pointer;
    width:60px;
    background-color: #d1d1d1;
    padding: 0px;
    margin-left: 3px;
}


#header_menu {
    height: 24px;
    margin-left: 560px;
}


#header_menu li {
    margin-top: 3px;
    margin-right: 25px;
    float:left;
}

#header_menu li a{
    color: #ffffff;
    font: 15px Myriad Pro;
}

/* Конец блока header*/

#logo {
    height: 120px;
    background-image: url(/view/images/logo.png);
    background-repeat: no-repeat;
}

/* Начало блока с навигацией*/

#nav {
    height: 29px;
    background-color: #55b5ff;
    background-image: url(/view/images/navBg.png);
    background-repeat: repeat-x;
}

#nav_menu {
    width:500px;
    height: 29px;
    outline: 0px solid red;
    margin-left: 90px;
    
}

#nav_menu li {
    margin-right: 25px;
    outline: 0px solid red;
    float:left;
    
}

#nav_menu li a{
    outline: 0px solid #000000;
    text-decoration: none;
    color: #ffffff;
    font: 18px Courier New bold;
    display: block;
    height: 24px;
    padding-top: 4px;
}


#nav_menu li a.active {
    color:#000000;
    
    
}


#nav_menu li:hover {
    background-color: #9bd3ff;
    opacity: 0.9;
    
}

/* Конец блока с навигацией*/

#page {
    background-color: gray;
    background-image: url(/view/images/pageBg.png);
    padding: 7px 12px 0 12px;

}

/* Начало блока с новостями*/



#news {
    width: 750px;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
    margin:0 auto 5px auto;
    padding:15px;


    
}

#news h2 {
    color:#000000;
    font: bold 18px Myriad Pro;
    margin-top:15px;
    margin-left:25px;
    padding-top:15px; 
    
    
}

#news_wrapper {
    background-color: #dddddd;
    border-radius:15px;
    
    
}


#news_image {
    position: relative;
    top: 20px;
    left:20px;
    width: 225px;
    height: 225px;
    outline: 0px solid red;
    background-image: url(/view/images/1337469553594.png);
    background-repeat: no-repeat;
    
    
    
}

#news_nav {
    position: relative;
    top:-215px;
    left:260px;
    width: 400px;
    height: 25px;
    background-color: #9ea4a9;
    outline: 0px solid red;
    
}

#news_nav_user {
    outline: 0px solid red;
    margin-top:2px;
    background-image: url(/view/images/users.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
}

#news_nav_user a {
    text-decoration: none;
    font: bold 15px Myriad Pro;
    color: #0190ff;
    margin-left: 19px;
}


#news_nav_date {
    outline: 0px solid red;
    background-image: url(/view/images/date.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
    margin-top:2px;
}


#news_nav_date p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 11px;
    margin-top:4px;
}

#news_nav_views {
    outline: 0px solid red;
    background-image: url(/view/images/views.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 50px;
    height: 25px;
    float:left;
    margin-top: 2px;
    
}

#news_nav_views p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 21px;
    margin-top:4px;
}

#news_nav_comments {
    outline: 0px solid red;
    background-image: url(/view/images/comments.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 50px;
    height: 25px;
    float:left;
}

#news_nav_comments p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 16px;
    margin-top:6px;
}

#news_text {
    position: relative;
    top:-210px;
    left:260px;
    outline: 0px solid red;
    width:470px;
    
    
    
}


#news_text h2 {
    color:#000000;
    font: bold 18px Myriad Pro;
    margin-top:0px;
    margin-left:0px;
    
    
}

#comments {
    width: 750px;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
    margin:0 auto;
    padding:15px;
}

#comments h2 {
    color:#000000;
    font: bold 18px Myriad Pro;
    
    
}

#avatar {
    position:relative;
    width: 50px;
    height: 50px;
    top:10px;
    left:10px;
    background-color: gray;
    border-radius:5px;
    
    
}

#user_comments {
    position:relative;
    width: 45px;
    height: 20px;
    top:-45px;
    left:70px;
    
    
}

#user_comments a{
    text-decoration: none;
    font: bold 15px Myriad Pro;
    color: #0190ff;
    
}

#user_comments a:hover {
    text-decoration: underline;
    
}

#text_comments {
    position:relative;
    top:-45px;
    left:70px;
    width:650px;
}

#text_comments span {
    font: bold 12px Myriad Pro;
    color: #000000;
    
    
}