@import url(reset.css);
/* Начало блока с новостями*/



#content {
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
    padding-top:10px;
	height: 300px;
    
}


#content h2 {
    margin-left:40px;
    color:#55b5ff;
    font: bold 18px Myriad Pro;
    
    
}

#news_blocks {
    width: 720px;
    height: 265px;
    background-color: #dddddd;
    border-radius:20px;
    margin:2px auto 10px auto;
}

#news_blocks:hover {
    background-color: #55b5ff;
    
}


#image{
    width: 225px;
    height: 225px;
    background-image: url(/view/images/1337469553594.png);
    margin-left: 10px;
    margin-top: 15px;
    float:left;
    
    
}

#text {
    width: 450px;
	height: 150px;
    float:right;
    margin-right: 25px;
    margin-top: 15px;
}

#text a {
    color:#000000;
    font: bold 18px Myriad Pro;
}

#text p {
    word-spacing:3px;
    color:#616060;
    font:bold 12px Myriad Pro;
    padding-top: 10px; 
    
}

#pannel {
	width: 450px;
	margin-top:120px;
	margin-left:7px;
    height: 25px;
    background-color: #cccccc;
    

}

#user {
	outline: 0px solid red;
    background-image: url(/view/images/users.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    float:left;
	margin-right:3px;
}

#user a {
	text-decoration: none;
    font: bold 15px Myriad Pro;
    color: #0190ff;
    margin-left: 19px;

}

#date {
	outline: 0px solid red;
    background-image: url(/view/images/date.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
	margin-right:3px;
}

#date p {
	font: 12px Myriad Pro;
    color:#000000;
    margin-left: 11px;
}

#views {
	outline: 0px solid red;
    background-image: url(/view/images/views.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
    margin-top: 1px;
	margin-right:3px;
}

#views p {
	margin-top:2px;
	font: 12px Myriad Pro;
    color:#000000;
    margin-left: 21px;

}

#comments {
	outline: 0px solid red;
    background-image: url(/view/images/comments.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 50px;
    height: 25px;
    float:left;
	margin-right:3px;

}

#comments p {
	margin-top:2px;
	font: 12px Myriad Pro;
    color:#000000;
    margin-left: 13px;

}