@import url(reset.css);

#news {
    width: 750px;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
    margin:0 auto 5px auto;
    padding:15px;


    
}

#news h2 {
    color:#000000;
    font: bold 18px Myriad Pro;
    margin-top:15px;
    margin-left:25px;
    padding-top:15px; 
    
    
}

#news_wrapper {
    background-color: #dddddd;
    border-radius:15px;
    
    
}


#news_image {
    position: relative;
    top: 20px;
    left:20px;
    width: 225px;
    height: 225px;
    outline: 0px solid red;
    background-image: url(view/images/1337469553594.png);
    background-repeat: no-repeat;

    
    
    
}

#news_nav {
    position: relative;
    top:-215px;
    left:260px;
    width: 400px;
    height: 25px;
    background-color: #cccccc;
    outline: 0px solid red;
}

#news_nav_user {
    outline: 0px solid red;
    margin-top:2px;
    background-image: url(view/images/users.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
}

#news_nav_user a {
    text-decoration: none;
    font: bold 15px Myriad Pro;
    color: #0190ff;
    margin-left: 19px;
}


#news_nav_date {
    outline: 0px solid red;
    background-image: url(view/images/date.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
    margin-top:2px;
}


#news_nav_date p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 11px;
    margin-top:4px;
}

#news_nav_views {
    outline: 0px solid red;
    background-image: url(view/images/views.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 50px;
    height: 25px;
    float:left;
    margin-top: 2px;
    
}

#news_nav_views p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 21px;
    margin-top:4px;
}

#news_nav_comments {
    outline: 0px solid red;
    background-image: url(view/images/comments.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 50px;
    height: 25px;
    float:left;
}

#news_nav_comments p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 16px;
    margin-top:6px;
}

#news_text {
    position: relative;
    top:-210px;
    left:260px;
    outline: 0px solid red;
    width:470px;
    
    
    
}


#news_text h2 {
    color:#000000;
    font: bold 18px Myriad Pro;
    margin-top:0px;
    margin-left:0px;
    
    
}

#comments {
    width: 750px;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
    margin:0 auto;
    padding:15px;
}

#comments h2 {
    color:#000000;
    font: bold 18px Myriad Pro;
    
    
}

#comments_wrapper {
    height: 60px;
}

#avatar {
    position:relative;
    width: 50px;
    height: 50px;
    top:10px;
    left:10px;
    background-color: gray;
    border-radius:5px;
    
    
}

#user_comments {
    position:relative;
    width: 45px;
    height: 20px;
    top:-45px;
    left:70px;
    
    
}

#user_comments a{
    text-decoration: none;
    font: bold 15px Myriad Pro;
    color: #0190ff;
    
}

#user_comments a:hover {
    text-decoration: underline;
    
}

#text_comments {
    position:relative;
    top:-45px;
    left:70px;
    width:650px;
}

#text_comments span {
    font: bold 12px Myriad Pro;
    color: #000000;
    
    
}