@import url(reset.css);


#content {
    width: 777px;
    height: 450px;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
    margin: 1px auto;
    
}



.page_span {
    text-decoration: none;
    font: 12px Myriad Pro bold;
    color: #000000;
    
}

#registration_wrapper {
    outline: 1px solid gray;
    width: 600px;
    margin: 10px auto;
    
}

#join {
    outline: 1px solid gray;
    height:29px;
    background-image: url(/view/images/navBg.png);
    background-repeat: repeat-x;
    
}

#join h2 {
    padding:4px 0 0 5px;
    color: #000000;
    font: 20px Myriad Pro bold;
    
}

.page {
    text-decoration: none;
    font: 12px Myriad Pro bold;
    color: #000000;
    margin-left:60px;
    padding-top: 10px;
    
}

#margin {
    padding-top: 10px;
}

#personal_page {
    margin:0 auto;
    width: 500px;
    font: 15px Myriad Pro bold;
    color: #000000;
    padding:10px;
    
}

.stars {
    color:red;
    font: 20px arial;
    
}

#Security_Check {
    margin:0 auto;
    width: 500px;
    border-top: 1px solid #bbbbbb;
    padding:10px;
    
}


#Security_Check_image {
    background-image: url(/view/images/kapcha.jpg);
    position:relative;
    width: 250px;
    height: 50px;
    outline: 1px solid #bbbbbb;
    top: -28px;
    left:150px;
}

.Security_Check_p {
    padding-top: 10px;
    padding-left: 15px;
    font: 20px Myriad Pro bold;
    color: #000000;
    
}

.personal_page_text {
    font: 20px Myriad Pro bold;
    color: #000000;
    margin: 15px 125px 15px 0;
    text-align: right;
    
}

#Securyty_Check_field {
    margin-left: 149px;
    margin-top: -24px;
    width:249px;
    
}

.term {
    text-decoration: none;
    color: #0190ff;
    
}

.Rule_p {
    width:300px;
    margin: 10px 0 0 145px;
    font: 12px bolder;
}

.input {
    width: 200px;
    
}

#registr_submit {
    border-radius: 6px;
    height: 30px;
    padding:0 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    min-width:110px;
    font: 300 12px/30px Helvetica,Arial,sans-serif;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    margin-left: 145px;
    margin-top: 5px;
    background-image: url(/view/images/registration-button.png);
    border-style: solid;
    border-color: #0190ff;
    border-width: 1px 1px 0pt;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    text-shadow: 1px 1px 10px #000000;

    

}

#registr_submit:active {
   margin-top:6px;
    
}