@import url(reset.css);

#body {
    background-color: #000000;
    
}


/* ������ ������ ����������*/
#morf {
    width: 246px;
    height: 346px;
    position:absolute;
    background-image: url(/view/images/morf.png);
    background-repeat: no-repeat;
    left:77px;
    z-index:5;
}

#razor {
    width: 673px;
    height: 530px;
    position:absolute;
    background-image: url(/view/images/razor.png);
    background-repeat: no-repeat;
    right:-25px;
    z-index:2;
}
/*����� ������ ����������*/

/* ������ ����� Wrapper*/

#wrapper {
    position: absolute;
    width:800px;
    outline: 0px solid #000000;
    left: 18.5%;
    z-index:3;
}

/* ����� ����� Wrapper*/


/* ������ ����� header*/

#header {
    height: 24px;
    outline: 0px solid #000000;
    background-color: #000000;
    background-image: url(/view/images/headerBg.png);
    background-repeat: repeat-x;
}

#registration {
    position:relative;
    height: 24px;
    width:410px;
    top:0px;
    left: 135px;
    float: left;
    
}

#registration p {
    color: #ffffff;
    font: 15px Myriad Pro;
    
}

#username {
    float:left;
    
}

#password {
    float: left;
    
}

#username_field {
    margin-right:10px;
    margin-top:2px;
    height: 13px;
    border-radius:5px;
    font:12px Myriad Pro bold;
    
}

#password_field {
    margin-top:2px;
    height: 13px;
    border-radius:5px;
    font:12px Myriad Pro bold;
    
}



#button {
    border-radius: 4px;
    height: 15px;
    padding:0 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    min-width:60px;
    font: 12px Helvetica,Arial,sans-serif; 
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    background-color: #bbbbbb;
    border-style: solid;
    border-color: #bbbbbb;
    border-width: 1px 1px 0pt;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    text-shadow: 1px 1px 10px #bbbbbb;
    margin-top: 4px;
    margin-left:3px;
}

#button:active {
   margin-top:5px;
    
}

#header_menu {
    height: 24px;
    margin-left: 560px;
}


#header_menu li {
    margin-top: 3px;
    margin-right: 25px;
    float:left;
    
}

#header_menu li a{
    color: #ffffff;
    font: 15px Myriad Pro;
}

/* ����� ����� header*/

#logo {
    height: 120px;
    background-image: url(/view/images/logo.png);
    background-repeat: no-repeat;
}

/* ������ ����� � ����������*/

#nav {
    height: 29px;
    background-color: #55b5ff;
    background-image: url(/view/images/navBg.png);
    background-repeat: repeat-x;
}

#nav_menu {
    width:500px;
    height: 29px;
    outline: 0px solid red;
    margin-left: 90px;
    
}

#nav_menu li {
    margin-right: 25px;
    outline: 0px solid red;
    float:left;
    
}

#nav_menu li a{
    outline: 0px solid #000000;
    text-decoration: none;
    color: #ffffff;
    font: 18px Courier New bold;
    display: block;
    height: 24px;
    padding-top: 4px;
}


#nav_menu li a.active {
    color:#000000;
    
    
}


#nav_menu li:hover {
    background-color: #9bd3ff;
    opacity: 0.9;
    
}

/* ����� ����� � ����������*/

#page {
    background-color: gray;
    background-image: url(/view/images/pageBg.png);
    padding: 7px 12px 0 12px;

}

/* ������ ����� � ���������*/

#news {
    width: 777px;
    height: 450px;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
    margin: 1px auto;
    
}



.page_span {
    text-decoration: none;
    font: 12px Myriad Pro bold;
    color: #000000;
    
}

#registration_wrapper {
    outline: 1px solid gray;
    width: 600px;
    margin: 10px auto;
    
}

#join {
    outline: 1px solid gray;
    height:29px;
    background-image: url(/view/images/navBg.png);
    background-repeat: repeat-x;
    
}

#join h2 {
    padding:4px 0 0 5px;
    color: #000000;
    font: 20px Myriad Pro bold;
    
}

.page {
    text-decoration: none;
    font: 12px Myriad Pro bold;
    color: #000000;
    margin-left:60px;
    padding-top: 10px;
    
}

#margin {
    padding-top: 10px;
}

#personal_page {
    margin:0 auto;
    width: 500px;
    font: 15px Myriad Pro bold;
    color: #000000;
    padding:10px;
    
}

.stars {
    color:red;
    font: 20px arial;
    
}

#Security_Check {
    margin:0 auto;
    width: 500px;
    border-top: 1px solid #bbbbbb;
    padding:10px;
    
}


#Security_Check_image {
    background-image: url(/view/images/kapcha.jpg);
    position:relative;
    width: 250px;
    height: 50px;
    outline: 1px solid #bbbbbb;
    top: -28px;
    left:150px;
}

.Security_Check_p {
    padding-top: 10px;
    padding-left: 15px;
    font: 20px Myriad Pro bold;
    color: #000000;
    
}

.personal_page_text {
    font: 20px Myriad Pro bold;
    color: #000000;
    margin: 15px 125px 15px 0;
    text-align: right;
    
}

#Securyty_Check_field {
    margin-left: 149px;
    margin-top: -24px;
    width:249px;
    
}

.term {
    text-decoration: none;
    color: #0190ff;
    
}

.Rule_p {
    width:300px;
    margin: 10px 0 0 145px;
    font: 12px bolder;
}

.input {
    width: 200px;
    
}

#registr_submit {
    border-radius: 6px;
    height: 30px;
    padding:0 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    min-width:110px;
    font: 300 12px/30px Helvetica,Arial,sans-serif;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    margin-left: 145px;
    margin-top: 5px;
    background-image: url(/view/images/registration-button.png);
    border-style: solid;
    border-color: #0190ff;
    border-width: 1px 1px 0pt;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    text-shadow: 1px 1px 10px #000000;

    

}

#registr_submit:active {
   margin-top:6px;
    
}
