@import url(reset.css);

#body {
    background-color: #000000;
    
}


/* Начало блоков бэкграунда*/
#morf {
    width: 246px;
    height: 346px;
    position:absolute;
    background-image: url(/view/images/morf.png);
    background-repeat: no-repeat;
    left:77px;
    z-index:5;
}

#razor {
    width: 673px;
    height: 530px;
    position:absolute;
    background-image: url(/view/images/razor.png);
    background-repeat: no-repeat;
    right:-25px;
    z-index:2;
}
/*Конец блоков бэкграунда*/

/* Начало блока Wrapper*/

#wrapper {
    position: absolute;
    width:800px;
    outline: 0px solid #000000;
    left: 18.5%;
    z-index:3;
}

/* Конец блока Wrapper*/


/* Начало блока header*/

#header {
    height: 24px;
    outline: 0px solid #000000;
    background-color: #000000;
    background-image: url(/view/images/headerBg.png);
    background-repeat: repeat-x;
}

#registration {
    position:relative;
    height: 24px;
    width:410px;
    top:0px;
    left: 135px;
    float: left;
    
}

#registration p {
    color: #ffffff;
    font: 15px Myriad Pro;
    
}

#username {
    float:left;
    
}

#password {
    float: left;
    
}

#username_field {
    margin-right:10px;
    margin-top:2px;
    height: 13px;
    border-radius:5px;
    font:12px Myriad Pro bold;
    
}

#password_field {
    margin-top:2px;
    height: 13px;
    border-radius:5px;
    font:12px Myriad Pro bold;
    
}

#sabmit_button {
    
    
}

#button {
    border-radius: 4px;
    height: 15px;
    padding:0 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    min-width:60px;
    font: 12px Helvetica,Arial,sans-serif; 
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    background-color: #bbbbbb;
    border-style: solid;
    border-color: #bbbbbb;
    border-width: 1px 1px 0pt;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    text-shadow: 1px 1px 10px #bbbbbb;
    margin-top: 4px;
    margin-left:3px;

}

#button:active {
   margin-top:5px;
    
}

#header_menu {
    height: 24px;
    margin-left: 560px;
}


#header_menu li {
    margin-top: 3px;
    margin-right: 25px;
    float:left;
    
}

#header_menu li a{
    color: #ffffff;
    font: 15px Myriad Pro;
}



/* Конец блока header*/

#logo {
    height: 120px;
    background-image: url(/view/images/logo.png);
    background-repeat: no-repeat;
}

/* Начало блока с навигацией*/

#nav {
    height: 29px;
    background-color: #55b5ff;
    background-image: url(/view/images/navBg.png);
    background-repeat: repeat-x;
}

#nav_menu {
    width:500px;
    height: 29px;
    outline: 0px solid red;
    margin-left: 90px;
    
}

#nav_menu li {
    margin-right: 25px;
    outline: 0px solid red;
    float:left;
    
}

#nav_menu li a{
    outline: 0px solid #000000;
    text-decoration: none;
    color: #ffffff;
    font: 18px Courier New bold;
    display: block;
    height: 24px;
    padding-top: 4px;
}


#nav_menu li a.active {
    color:#000000;
    
    
}


#nav_menu li:hover {
    background-color: #9bd3ff;
    opacity: 0.9;
    
}

/* Конец блока с навигацией*/

#page {
    height: 692px;
    background-color: gray;
    background-image: url(/view/images/pageBg.png);
    padding: 7px 12px 0 12px;

}

/* Начало блока с новостями*/

#news {
    width: 777px;
    height: 251px;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    position: absolute;
    border-radius: 20px;

    
}

#news_wraper {
    width:500px;
    height: 230px;
    margin-left:10px;
    margin-top: 10px;
    background-color: #dddddd;
    border-radius: 10px;
}

#news_full {
    outline: 0px solid #000000;
    width: 275px;
    height: 200px;
    padding:10px;
    position: absolute;
    top:19px;
    left:206px;
}

#news_image {
    width: 170px;
    height: 170px;
    background-color: gray;
    position: relative;
    top:15px;
    left:20px;
    
}

#news_full a {
    color:#55b5ff;
    font:bold 16px Myriad Pro;
    
}

#news_full p {
    word-spacing:3px;
    padding-top:5px;
    color:#616060;
    font:bold 12px Myriad Pro;
    
}

#news_nav {
    height: 25px;
    position: absolute;
    background-color: #a6afb5;
    top:180px;
    left:-10px;
    
    
}

#news_nav_user {
    outline: 0px solid red;
    padding:2px;
    background-image: url(/view/images/users.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
}

#news_nav_user a {
    text-decoration: none;
    font: bold 15px Myriad Pro;
    color: #0190ff;
    margin-left: 19px;
}


#news_nav_date {
    outline: 0px solid red;
    background-image: url(/view/images/date.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    height: 25px;
    float:left;
}


#news_nav_date p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 11px;
}

#news_nav_views {
    outline: 0px solid red;
    background-image: url(/view/images/views.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 52px;
    height: 25px;
    float:left;
    margin-top: 1px;
    
}

#news_nav_views p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 21px;
}

#news_nav_comments {
    outline: 0px solid red;
    background-image: url(/view/images/comments.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
    width: 50px;
    height: 25px;
    float:left;
}

#news_nav_comments p {
    font: 12px Myriad Pro;
    color:#000000;
    margin-left: 13px;
}

#news_list {
    outline: 0px solid #000000;
    width: 245px;
    position: absolute;
    top:12px;
    right:11px;
    padding:3px 0px 10px 10px;
}

#news_list a {
    font: 18px Myriad Pro bold;
    color: #0190ff;
    
}

#news_list_table {
    margin-top: 5px;
    
}

#news_list_table a {
    text-decoration: none;
    color: #696969;
    font: 12px arial bold;
}

#news_list_table td {
    outline: 0px solid #000000;
    height: 19px;
    width: 230px;
    
}

#news_list_table a:hover {
    color: #5a9ef6;
    
}

#news_list_table a.active {
    display: block;
    height: 19px;
    width: 230px;
    background-color: #5a9ef6;
    color: #ffffff;
    
}

tr.even td {
    background-color: #d1d1d1;
}

/*Конец блока с новостями*/
