@import url(reset.css);

#body {
    background-color: #000000;
    
}


/* Начало блоков бэкграунда*/


#morf {
    width: 246px;
    height: 346px;
    position:relative;
    background-image: url(/view/images/morf.png);
    background-repeat: no-repeat;
    left:101px;
    z-index:1;
    float:left;
}

/*#razor {
    width: 673px;
    height: 530px;
    position:relative;
    background-image: url(/view/images/razor.png);
    background-repeat: no-repeat;
    z-index:-200;
    float:right;
}
*\

/*Конец блоков бэкграунда*/

/* Начало блока Wrapper*/

#order_wrapper{
    margin: 0 auto;
}

#wrapper {
    width:800px;
    outline: 0px solid #000000;
    z-index:2;
    margin:0 auto;
}

/* Конец блока Wrapper*/


/* Начало блока header*/

#header {
    height: 24px;
    outline: 0px solid #000000;
    background-color: #000000;
    background-image: url(/view/images/headerBg.png);
    background-repeat: repeat-x;
}

#authentication {
    height: 24px;
    width:410px;
    margin-left:135px;
    float: left;
    
}

#authentication p {
    color: #ffffff;
    font: 15px Myriad Pro;
    
}

#username {
    float:left;
    
}

#password {
    float: left;
    
}

#username_field {
    margin-right:10px;
    margin-top:2px;
    height: 13px;
    border-radius:5px;
    font:12px Myriad Pro bold;
    
}

#password_field {
    margin-top:2px;
    height: 13px;
    border-radius:5px;
    font:12px Myriad Pro bold;
    
}

#sabmit_button {
    
    
}

#button {
    border-radius: 4px;
    height: 15px;
    padding:0 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    min-width:60px;
    font: 12px Helvetica,Arial,sans-serif; 
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    background-color: #bbbbbb;
    border-style: solid;
    border-color: #bbbbbb;
    border-width: 1px 1px 0pt;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    text-shadow: 1px 1px 10px #bbbbbb;
    margin-top: 4px;
    margin-left:3px;

}

#button:active {
   margin-top:5px;
    
}

#header_menu {
    height: 24px;
    margin-left: 560px;
}


#header_menu li {
    margin-top: 3px;
    margin-right: 25px;
    float:left;
    
}

#header_menu li a{
    color: #ffffff;
    font: 15px Myriad Pro;
}


#another_header {
    height: 24px;
    background-color: #000000;
    background-image: url(/view/images/headerBg.png);
    background-repeat: repeat-x;
}

#another_header_menu {
    height: 24px;
    margin-left: 630px;
}


#another_header_menu li {
    margin-top: 3px;
    margin-right: 25px;
    float:left;
}


.user {
    text-decoration: none;
    font: 15px Myriad Pro;
    color: #0190ff;
}

.exit {
    color: #ffffff;
    font: 15px Myriad Pro;
    
}

/* Конец блока header*/

#logo {
    height: 120px;
    background-image: url(/view/images/logo.png);
    background-repeat: no-repeat;
}

/* Начало блока с навигацией*/

#nav {
    height: 29px;
    background-color: #55b5ff;
    background-image: url(/view/images/navBg.png);
    background-repeat: repeat-x;
}

#nav_li {
    width:500px;
    height: 29px;
    outline: 0px solid red;
    margin-left: 90px;
    
}

#nav_li li {
    margin-right: 25px;
    outline: 0px solid red;
    float:left;
    
}

#nav_li li a{
    outline: 0px solid #000000;
    text-decoration: none;
    color: #ffffff;
    font: 18px Courier New bold;
    display: block;
    height: 24px;
    padding-top: 4px;
}


#nav_li li a.active {
    color:#000000;
    
    
}


#nav_li li:hover {
    background-color: #9bd3ff;
    opacity: 0.9;
    
}

/* Конец блока с навигацией*/

#bg {
    background-color: gray;
    background-image: url(/view/images/pageBg.png);
    padding: 7px 12px 0 12px;

}