@import url(reset.css);

#content {
	height: 460px;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px #000000; /*firefox*/
    -webkit-box-shadow: 5px 5px 5px #0000000; /*Chrome and Safari*/
    box-shadow: 1px 1px 10px #000000; /*for all other browsers*/
    border-radius: 20px;
    padding-top: 10px;
	overflow:hidden;
}

#user_wrapper {
	height: 450px;
	width: 750px;
	margin:0 auto;
	background-color: #dddddd;
	border-radius: 15px;
	overflow:hidden;
}

#avatar {
	width:140px;
	height:140px;
	/*background-image: url("/view/images/large_avatar.png");*/
	margin: 15px 0 0 15px; 
	float:left;
	clear:both;
}

#avatar img {
    width: 140px;
    height: 140px;
}

#activity {

	width: 145px;
	margin-left:15px;
	float:left;
	margin-top:-255px;


}

#activity_status {
	height:16px;
	width: 70px;
	border-radius:5px;
	background-color:green;
	text-align: center;
	color: #ffffff;
	margin-bottom:5px;

}

#activity_status_off {
	height:16px;
	width: 70px;
	border-radius:5px;
	background-color:gray;
	text-align: center;
	color: #ffffff;
	margin-bottom:5px;

}

p.last_active {
	color:#000000;
    font: 12px Myriad Pro;
}

#nickname {
	width:330px;
	height:60px;
	outline: 0px solid red;
	margin-left: 170px;
	margin-top: 15px;

}

#nickname h2 {
	height:30px;
	outline: 0px solid black;
	margin-top: 15px;
	margin-left:0px;
	color:#000000;
    font: bold 22px Myriad Pro;
	
}

#nickname p {
	margin-left:0px;
	color:#000000;
    font: 14px Myriad Pro;
}

.information_wrapper {
	width:580px;
	margin-left:165px;

}


#community {
	width:330px;
	height:165px;
	margin-top: 5px;
	background-color: #ffffff;
	

}

#community_header {
	width:330px;
	height: 30px;	
	background-image: url("/view/images/navBg.png");
	background-repeat: x-repeat;
}

#community_header h2 {
	color:#ffffff;
    font: bold 16px Myriad Pro;
	margin-left: 5px;
	padding-top:4px;

}

#contact_information {
	width:330px;
	height:165px;
	margin-top: 15px;
	background-color: #ffffff;
}

#contact_information_header {
	width:330px;
	height: 30px;	
	background-image: url("/view/images/navBg.png");
	background-repeat: x-repeat;
}

#contact_information_header h2 {
	color:#ffffff;
    font: bold 16px Myriad Pro;
	margin-left: 5px;
	padding-top:4px;
}

#friends {
	width:229.5px;
	height:165px;
	overflow:auto;
	float:right;
	margin-top: -165px;
	background-color: #ffffff;
}

#friends_header {
	width:229.5px;
	height: 30px;	
	background-image: url("/view/images/navBg.png");
	background-repeat: x-repeat;

}

#friends_header h2 {
	color:#ffffff;
    font: bold 16px Myriad Pro;
	margin-left: 5px;
	padding-top:4px;


}


.friends_wrapper {
	width:227.5px;
	height:53px;	
	outline:0px solid red;
	margin: 3px auto 3px auto;

}

.friend {
	width:40.5px;
	height:50px;	
	float:left;
	margin-right:5px;
}

.friend a{
	display:block;
	width:40.5px;
	height:50px;	
	background-image:url("/view/images/small_avatar.png");
	background-repeat:no-repeat;
}

.friend:hover {
	outline:1px solid #55b5ff;


} 

#last_posts {
	width:229.5px;
	height: 165px;
	float:right;
	margin-top: -165px;
	background-color: #ffffff;
}

#last_posts_header {
	width:229.5px;
	height: 30px;	
	background-image: url("/view/images/navBg.png");
	background-repeat: x-repeat;	
}

#last_posts_header h2 {
	color:#ffffff;
    font: bold 16px Myriad Pro;
	margin-left: 5px;
	padding-top:4px;


}

#navigation {
	width: 145px;
	height: 200px;
	margin-left:15px;
	float:left;
	margin-top:-200px;
}

#navigation_table {
	width: 145px;
	height: 100px;
}


#navigation_table td{
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	border-left:1px solid gray;
	background-color: #ffffff;
	font:bold 14px Myriad Pro;
	padding:3px;
	color: gray;	
}

#navigation_table td:hover {
	cursor:pointer;
	background-color: #eeeeee;


}

#community_table {
	outline:0px solid red;
	height:120px;
	margin-top:5px;
	margin-left:10px;	

}

.status_label {
	text-align: right;
	margin-right:15px;
	width: 90px;	
    font: bold 14px Myriad Pro;
	color: #000000;
}

.value_label {	
	text-align: left;
	width: 70px;
	padding-left:7px;
	font: 14px Myriad Pro;
	color: gray;	
}

#contact_table {
	outline:0px solid red;
	height:80px;
	margin-top:15px;
	margin-left:10px;		
}


.c_value_label {
	text-align: left;
	width: 70px;
	padding-left:2px;
	font: 14px Myriad Pro;
	color: gray;			
}

#email_status_label {
	width: 50px;
    font: bold 14px Myriad Pro;
	color: #000000;	
	background-image: url("/view/images/e-mail.png");
	background-repeat:no-repeat;
	background-position: 50px 0px;
}

#icq_status_label {
	width: 50px;
    font: bold 14px Myriad Pro;
	color: #000000;	
	background-image: url("/view/images/icq.png");
	background-repeat:no-repeat;
	background-position: 50px 0px;
	padding-left:20px;
}

#skype_status_label {
	width: 50px;
    font: bold 14px Myriad Pro;
	color: #000000;	
	background-image: url("/view/images/skype.png");
	background-repeat:no-repeat;
	background-position: 50px 0px;	
}