@import url(reset.css);


#last_news {
	width: 500px;
	height: 320px;
	float:right;
	margin-right: 80px;
	margin-top: -100px;
}

#last_news_header {
	width:500px;
	height: 30px;	
	background-image: url("/view/images/navBg.png");
	background-repeat: x-repeat;


}

#last_news_header h2 {
	color:#ffffff;
    font: bold 16px Myriad Pro;
	margin-left: 5px;
	padding-top:4px;

}

div.news {
	margin-top:3px;
	width:500px;
	height: 100px;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: #ffffff;
}

#news_image {
	margin-top:5px;
	margin-left:5px;
	width:90px;
	height: 90px;
	float:left;
}

#news_image img {
    width:90px;
    height: 90px;
}

#news_content {
	float:right;
	width:395px;
	height: 100px;
}

#news_content h2 {
	margin-top: 5px;
	margin-left: 5px;

}

#news_content h2 a {
    color:#55b5ff;
    font:bold 16px Myriad Pro;

}

#news_content p {
	margin-top: 5px;
	margin-left: 5px;
    color:#616060;
    font:bold 14px Myriad Pro;


}

