{% extends "template.html" %}

{% block css_links %}
	{{ parent() }}
	<link href="/view/css/command_full.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
	<div id="content">
		<div id="command_wrapper">
			<div id="command_logo"></div>
			<h2 class="team_name">{{ commandArray[ 'name' ] }}</h2>
			<form action="user.php" name="join_in_team">
				<span class="label">Code</span><input id="code" type="text" name="text" value=""/>
				<input id="submit" type="submit" name="submit" value="Join"/>
			</form>
			<div id="result">
				<table id="command_table">
				<tr>
					<td class="table_title">Curent Place</td><td class="table_title">Wins</td><td class="table_title">Loses</td><td class="table_title">Score</td>
				</tr>
				<tr>
					<td class="table_rows">1</td><td class="table_rows">{{ commandArray[ 'win' ] }}</td><td class="table_rows">{{ commandArray[ 'lose' ] }}</td><td class="table_rows">{{ commandArray[ 'score' ] }}</td>
				</tr>
				</table>			
			</div>
			<div id="team">

                {% for i in 1..countUsers %}

                    <div class="player">
                        <h2><a href="user.php">{{ commandArray[ 'people' ][0] }}</a></h2>
                    </div>

                {% endfor %}
			</div>
		</div>
		<div id="latest_games">
			<h2>LAST GAME</h2>
			<table id="last_game_table">
				<tr>
					<td class="first_command">Super Team</td><td class="date"><a href="">25.04</a></td><td class="second_command">Moscow five</td>
				</tr>
			</table>
		</div>
	</div>
{% endblock %}  