{% extends "template.html" %}

{% block css_links %}
	{{ parent() }}
	<link href="/view/css/command_full.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
	<div id="content">
		<div id="command_wrapper">
			<div id="command_logo"></div>
			<h2 class="team_name">{{ commandArray[ 'name' ] }}</h2>
            {% if authed %}
            {% if notJoin %}
                <form action="command.php" method="post" name="join_in_team">

                    {% if commandArray[ 'people' ][0] == user_name %}
                        {% set buttonName = 'Set' %}
                        <label class="label">Code<input id="code" type="text" name="code" value="{{ commandArray['code'] }}"/></label>
                        <input name="commandSetID" type="hidden" value="{{ commandArray['id'] }}"/>
                    {% else %}
                        {% set buttonName = 'Join' %}
                        <label class="label">Code<input id="code" type="text" name="code" value=""/></label>
                        <input name="commandJoinID" type="hidden" value="{{ commandArray['id'] }}"/>
                    {% endif %}

                    <input id="submit" type="submit" name="submit" value="{{ buttonName }}"/>

                </form>
            {% endif %}
            {% endif %}
			<div id="result">
				<table id="command_table">
				<tr>
					<td class="table_title">Curent Place</td><td class="table_title">Wins</td><td class="table_title">Loses</td><td class="table_title">Score</td>
				</tr>
				<tr>
					<td class="table_rows">1</td><td class="table_rows">{{ commandArray[ 'win' ] }}</td><td class="table_rows">{{ commandArray[ 'lose' ] }}</td><td class="table_rows">{{ commandArray[ 'score' ] }}</td>
				</tr>
				</table>			
			</div>
			<div id="team">

                {% for i in 0..countUsers-1 %}

                    <div class="player">
                        <h2><a href="user.php?name={{ commandArray[ 'people' ][i] }}">{{ commandArray[ 'people' ][i] }}</a></h2>
						<p></p>
						<div id="delete_player">
							<a href=""></a>
						</div>
                    </div>

                {% endfor %}
			</div>
		</div>
		<div id="latest_games">
			<h2>LAST GAME</h2>
			<table id="last_game_table">
				<tr>
					<td class="first_command">Super Team</td><td class="date"><a href="">25.04</a></td><td class="second_command">Moscow five</td>
				</tr>
			</table>
		</div>
	</div>
{% endblock %}  