{% extends "template.html" %}

{% block css_links %}
	{{ parent() }}
	<link href="/view/css/command.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
	<div id="content">
		<div id="command_wrapper">
			<h2><a href="command.php">Teams</a></h2>
			<table id="command_table">
                <tr>
                    <td class="table_title_name">Name</td><td class="table_title">W</td><td class="table_title">L</td><td class="table_title">Sc</td>
                </tr>
                {% set i = 1 %}
                {% for item in commandArray %}
                    <tr>
                        <td class="table_rows">{{ i }}  <a href="command.php?id={{ item['id'] }}&view=1">{{ item[ 'name' ] }}</a></td><td class="table_rows">{{ item[ 'win' ] }}</td><td class="table_rows">{{ item[ 'lose' ] }}</td><td class="table_rows">{{ item[ 'score' ] }}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
			</table>
		</div>

        {% if authed %}
		<form method="post" action="../command.php" name="registration_form" enctype="multipart/form-data">
			<input id="registr_submit" type="submit" name="submit" value="Create command"/>
		</form>
        {% endif %}

	</div>
{% endblock %} 