<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title></title>
</head>
<body>
<form action="../news.php" method="post" enctype="multipart/form-data">

    <label>Заголовок4</label>
    <input name="title" value="{{ newsArray['title'] }}"  type="text" />

    <label>Краткая новость</label>
    <textarea name="summary" value="">{{ newsArray['summary'] }}</textarea>

    <label>Основное содержание</label>
    <textarea name="text" value="">{{ newsArray['text'] }}</textarea>

    <input name="id" type="hidden" value="{{ newsArray['id'] }}"/>

    <input name="submit" type="submit" value="Отправить">
</form>
</body>
</html>