{% extends "template.html" %}

{% block css_links %}
	{{ parent() }}
	<link href="/view/css/news_index.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block js_links %}
    <script type="text/javascript" src="/view/js/news.js" charset="utf-8"></script>
{% endblock %}

{% block content %}  
	<div id="content">
        {% for item in newsArray %}
            <div class="news_wrapper">
                <div id="news_image"></div>
                <div class="news_full">
                    <h2><a href="news_id.html">{{ item['title'] }}</a></h2>
                    {% autoescape false %}
                        {{ item['summary'] }}
                    {% endautoescape %}
                </div>
                <div id="order_pannel">
                    <div id="order_pannel_user"><a href="iraq.html">{{ item['newsmaker'] }}</a></div>
                    <div id="order_pannel_date"><p>{{ item['date'] }}</p></div>
                    <div id="order_pannel_views"><p>{{ item['views'] }}</p></div>
                    <div id="order_pannel_comments"><p>{{ item['comments'] }}</p></div>
                </div>
            </div>
        {% endfor %}
		<div id="news_list">
			<a>Latest news</a>
			<table id="news_list_table">
                {% set i = 0 %}
                {% for item in newsArray %}
                    <tr>
                        <td id="{{ i }}" class="active" onclick="SwapNews(this)">{{ item['title'] }}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
			</table>
		</div>
	</div> 
{% endblock %}