{% extends "template.html" %}

{% block css_links %}
	{{ parent() }}
	<link href="/view/css/index.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block js_links %}
    <script type="text/javascript" src="/view/js/news.js" charset="utf-8"></script>
{% endblock %}

{% block content %}  
	<div id="content">
        {% for item in newsArray %}
            <div class="news_wrapper">
                <div id="news_image"></div>
                <div class="news_full">
                    <h2><a href="news.php?id={{ item['id'] }}&view=1">{{ item['title'] }}</a></h2>
                    {% autoescape false %}
                        {{ item['summary'] }}
                    {% endautoescape %}
                </div>
                <div id="order_pannel">
                    <div id="order_pannel_user"><a href="iraq.html">{{ item['newsmaker'] }}</a></div>
                    <div id="order_pannel_date"><p>{{ item['date'] }}</p></div>
                    <div id="order_pannel_views"><p>{{ item['views'] }}</p></div>
                    <div id="order_pannel_comments"><p>{{ item['comments'] }}</p></div>
                </div>
            </div>
        {% endfor %}
		<div id="news_list">
			<a>Latest news</a>
			<table id="news_list_table">
                {% set i = 0 %}
                {% for item in newsArray %}
                    <tr>
                        <td id="{{ i }}" onclick="SwapNews(this)">{{ item['title'] }}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
			</table>
		</div>
	</div>
	<div id="command">
		<div id="command_wrapper">
			<h2><a href="command.php">Команды</a></h2>
			<table id="command_table">
			<tr>
				<td class="table_title">Название</td><td class="table_title">П-б</td><td class="table_title">П-р</td><td class="table_title">Оч</td>
			</tr>
			<tr>
				<td class="table_rows">1  <a href="">NaVi</a></td><td class="table_rows">12</td><td class="table_rows">5</td><td class="table_rows">6400</td>
			</tr>
			<tr>
				<td class="table_rows">1  <a href="">Darer</a></td><td class="table_rows">10</td><td class="table_rows">10</td><td class="table_rows">4000</td>
			</tr>
			</table>
		</div>
	</div>

{% endblock %}