{% extends "template.html" %}

{% block css_links %}
	{{ parent() }}
	<link href="/view/css/news_full.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block js_links %}
<script  type="text/javascript" src="../import/tiny_mce/tiny_mce.js"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
    tinyMCE.init({
        mode : "textareas",
        theme : "simple"
    });
</script>
	<div id="content">
		<div id="news_wrapper">
			<div id="number">#1</div>
			<h2>{{ newsArray['title'] }}</h2>
			<div id="news_image"><img src="{{ newsArray['picture'] }}" alt=""></div>
			<div id="pannel">
				<div id="user"><a href="user.php?name={{ newsArray['newsmaker'] }}">{{ newsArray['newsmaker'] }}</a></div>
				<div id="date"><p>{{ newsArray['date'] }}</p></div>
				<div id="views"><p>{{ newsArray['views'] }}</p></div>
				<div id="count_of_comments"><p>{{ newsArray['comments'] }}</p></div>
                    <div id="edit_news_pannel">
                        {% if newsArray[ 'accessEdit' ] %}
                            <div id="editnews"><a title="Edit news" href="news.php?id={{ newsArray['id'] }}&edit=1"></a></div>
                        {% endif %}
                        {% if newsArray[ 'accessDelete' ] %}
                            <div id="deletenews"><a title="Delete news" href="deletenews.php"></a></div>
                        {% endif %}
                    </div>
			</div>
			<div id="text">
                {% autoescape false %}
				    {{ newsArray['text'] }}
                {% endautoescape %}
			</div>
		</div>
	</div>
	<div id="comments">
	<h2>Comments</h2>
        {% for item in commentsArray %}
            <div id="comments_wrapper">
                <div id="avatar"><img src="{{ item['avatar'] }}" alt=""></div>
                <div id="user_comments">
                    <a href="user.php?name={{ item['newsmaker'] }}">{{ item['newsmaker'] }}</a>
                </div>
                <div id="text_comments">
                    {% autoescape false %}
                    <span>{{ item['text'] }}</span>
                    {% endautoescape %}
                </div>
            </div>
        {% endfor %}
	</div>
<form action="../news.php" method="post" enctype="multipart/form-data">
    <label class="Write_Comment">Write Comment</label>
    <textarea name="commentText" value="" ></textarea>

    <input name="newsID" type="hidden" value="{{ newsArray['id'] }}"/>

    <input id="button" name="submit" type="submit" value="SUBMIT">
</form>
{% endblock %}