{% extends "index.html" %}


{% block css_links %}
	{{ parent() }}
	<link href="/view/css/news_full.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div id="content">
		<div id="news_wrapper">
			<h2>{{ newsArray['title'] }}</h2>
			<div id="news_image"></div>
			<div id="pannel">
				<div id="user"><a href="iraq.html">{{ newsArray['newsmaker'] }}</a></div>
				<div id="date"><p>12.05.2012 12:53</p></div>
				<div id="views"><p>1000</p></div>
				<div id="count_of_comments"><p>{{ item['comments'] }}</p></div>
			</div>
			<div id="text">
				{{ newsArray['text'] }}
			</div>
		</div>
	</div>
	<div id="comments">
	<h2>Comments</h2>
        {% for item in commentsArray %}
            <div id="comments_wrapper">
                <div id="avatar"></div>
                <div id="user_comments">
                    <a href="user_id.html">{{ item['newsmaker'] }}</a>
                </div>
                <div id="text_comments">
                    <span>{{ item['text'] }}</span>
                </div>
            </div>
        {% endfor %}
	</div>
<form action="../news.php" method="post" enctype="multipart/form-data">
    <label>Your comment</label>
    <textarea name="commentText" value="" ></textarea>

    <input name="newsID" type="hidden" value="{{ newsArray['id'] }}"/>

    <input name="submit" type="submit" value="submit">
</form>
{% endblock %}