{% extends "index.html" %}


{% block css_links %}
	{{ parent() }}
	<link href="/view/css/news.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div id="content">
		<h2>NEWS</h2>
		<div id="news_blocks">
			<div id="image"></div>
			<div id="text">
				<a href="twig_news_full.php">DTS lose three, Darer gain three?</a>
				<p>Originally scheduled to be two matches. We will still be bringing you DTS vs. Darer though as normally scheduled, prepare yourself for some fireworks with these two teams going at it in the ProDota 2 World League Tournament!</p>
			</div>
			<div id="pannel">
				<div id="user"><a href="iraq.html">{ {user_name} }</a></div>
				<div id="date"><p>{ {date} }</p></div>
				<div id="views"><p>{ {views} }</p></div>
				<div id="comments"><p>{ {comments} }</p></div>
			</div>
		</div>
	</div>
{% endblock %}  