<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Dota2_league</title>
<link href="/view/css/news.css" type="text/css" rel="stylesheet">
</head> 
<body id="body">
   
        <div id="morf"></div>
        <div id="razor"></div>
        <div id="wrapper">
            <div id="header">
                <div id="registration">
                    <form action="formdata.php" method="POST" name="registration">
                        <div id="username"><p>username: <input id="username_field" type="text" name="name" size="10"></p></div>
                        <div id="password"><p>password: <input id="password_field" type="password" name="password" size="10"></p>></div>
                        <div id="submit_button"><input id="button" type="submit" name="submit" value="Sign In"/></div>
                    </form>
                </div>
                <ul id="header_menu">
                    <li><a href="forgotpassword.html">Forgot your password?</a></li>
                    <li><a href="regestration.html">Sign In</a></li>
                </ul>
            </div>
            <div id="logo"></div>
            <div id="nav">
                <ul id="nav_menu">
                <li><a href="index.html">PAGE</a></li>
                <li><a href="news.html">NEWS</a></li>
                <li><a href="partners.html">PARTNERS</a></li>
                <li><a href="videos.html">VIDEO</a></li>
                </ul>
            </div>
            <div id="page">
                <div id="news">
                    <h2>NEWS</h2>
                        <div id="news_page">
                            <div id="news_image"></div>
                            <div id="news_text">
                                <a href="news_id.html">DTS lose three, Darer gain three?</a>
                                <p>Originally scheduled to be two matches. We will still be bringing you DTS vs. Darer though as normally scheduled, prepare yourself for some fireworks with these two teams going at it in the ProDota 2 World League Tournament!</p>
                            </div>
                            <div id="news_nav">
                                <div id="news_nav_user"><a href="iraq.html">iraq_lobster</a></div>
                                <div id="news_nav_date"><p>21.05.2012 12:53</p></div>
                                <div id="news_nav_views"><p>1000</p></div>
                                <div id="news_nav_comments"><p>100000</p></div>
                            </div>    
                        </div>
                  
                </div>
            </div>
            </div>
</body>
</html>