{% extends "user_template.html" %}

{% block css_links %}
	{{ parent() }}
	<link href="/view/css/user_edit.css" type="text/css" rel="stylesheet">	
{% endblock %}

{% block user_info %}
		<div id="user_edit_wrapper">
			<div id="personal_page">   
				<form method="post" action="/controller/CUserController.php" enctype="multipart/form-data">
					<h2>Personal Information</h2>
					<p class="personal_page_text"><label>First name  <input class="input" name="firstname" value="{{ user.firstname }}" type="text"/></label></p>
					<p class="personal_page_text"><label>Last name  <input class="input" name="lastname" value="{{ user.lastname }}" type="text"/></label></p>
					<p class="personal_page_text"><label>Avatar  	<input type="file" name="uploadfile"/></label></p>
					<h2>Contact Infromation</h2>
					<p class="personal_page_text"><label>Skype  <input class="input" name="skype" value="{{ user.skype }}" type="text"/></label></p>
					<p class="personal_page_text"><label>ICQ  <input class="input" name="icq" value="{{ user.icq }}" type="text"/></label></p>
					<p class="personal_page_text"><label>Contact e-mail  <input class="input" value="{{ user.mail }}" name="mail" type="text"/></label></p>
                    <input type="hidden" name="do" value="edit">
					<p><input id="registr_submit" type="submit" name="submit" value="Submit"/></p>	
				</form>	
			</div> 
		</div>
{% endblock %}