{% extends "user_template.html" %}

{% block css_links %}
	{{ parent() }}
	<link href="/view/css/user_last_news.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block user_info %}
    <div id="last_news">
        <div id="last_news_header">
            <h2>Last News</h2>
        </div>
        {% for item in news %}
            <div class="news">
                <div id="news_image">
                    <img src="{{ item['news_pic'] }}" alt="">
                </div>
                <div id="news_content">
                    <h2><a href="news.php?id={{ item['news_id'] }}&view=1">{{ item['news_title'] }}</a></h2>
                    {% autoescape false %}
                        {{ item['news_summary'] }}
                    {% endautoescape %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}  