{% extends "user_template.html" %}

{% block css_links %}
	{{ parent() }}
{% endblock %}

{% block user_info %}
	<div id="information_wrapper">
		<div id="community">
			<div id="community_header">
				<h2>COMMUNITY</h2>
			</div>
				<table id="community_table">
					<tr>
						<td class="status_label">Group</td><td class="value_label">{{ user.group.name }}</td>
					</tr>
					<tr>
						<td class="status_label">First Name</td><td class="value_label">9999</td>							
					</tr>
					<tr>
						<td class="status_label">Last Name</td><td class="value_label">nobody</td>							
					</tr>
					<tr>
						<td class="status_label">Team</td><td class="value_label">12.12.12</td>							
					</tr>
				</table>
		</div>
		<div id="contact_information">
			<div id="contact_information_header">
				<h2>CONTACT INFORMATION</h2>					
			</div>
				<table id="contact_table">
					<tr>
						<td id="email_status_label">E-MAIL</td><td class="c_value_label">borozdin.aleksey@gmail.com</td>						
					</tr>
					<tr>
						<td id="icq_status_label">ICQ</td><td class="c_value_label">333-333-333</td>							
					</tr>
					<tr>
						<td id="skype_status_label">SKYPE</td><td class="c_value_label">AJIekseys</td>							
					</tr>
				</table>
		</div>
	</div>
{% endblock %}  