{% extends "user_template.html" %}

{% block css_links %}
	{{ parent() }}
	<link href="/view/css/user_last_comments.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block user_info %}
	<div id="last_comments">
		<div id="last_comments_header">
			<h2>Last Comments</h2>
		</div>
        {% for item in comments %}
            <div class="comment">
                {% autoescape false %}
                    {{ item['comments_text'] }}
                {% endautoescape %}
            </div>
        {% endfor %}
	</div>
{% endblock %}  